<html>
<head>
    <script>
        if (window.opener) {
            window.opener.location = "{{redirect}}";
            window.close();
        } else {
            window.location = "{{redirect}}";
        }
    </script>
</head>
<body></body>
</html>