{{!< ../layout}}

<form action="/user/change/{{hash}}" method="post">
	<input type="password" name="password" placeholder="Enter Password" autofocus/>
	<input type="password" name="confirm" placeholder="Confirm Password"/>
	<input type="submit" value="Change"/>
</form>



