{{!< layout}}

<form action="/user/login" autocomplete="off" method="post">
	<fieldset>
		<legend>Login</legend>
		<input id="email" type="text" name="email" value="" data-placeholder="user/login/email" autofocus/>
		<input id="password" type="password" name="password" value="" data-placeholder="user/login/password"/>
		<input type="submit" value="Login"/>
	</fieldset>
</form>


