<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="description">
	<meta name="keywords" content="keywords">
	<meta name="robots" content="all"/>
	<title>title</title>
	<link href="http://fonts.googleapis.com/css?family=Open%20Sans:n,i,b,bi" rel="stylesheet" type="text/css">
	<link href="/vendors/normalize.css/normalize.css" rel="stylesheet" type="text/css">
	<link href="/css/common.min.css" rel="stylesheet" type="text/css">
	<link href="/css/styles.min.css" rel="stylesheet" type="text/css">
	<link href="/css/form.min.css" rel="stylesheet" type="text/css">
	<script src="/vendors/requirejs/require.min.js" data-main="/js/main.min.js" ></script>
</head>

<body class="">

<header>
	<div class="wrapper">
		G.O.A.T
	</div>
</header>

<article>
	<div class="wrapper">

        {{> _message}}

		{{{body}}}
	</div>
</article>

<footer>
	<div class="wrapper">
		(c) copyright
	</div>
</footer>

</body>
</html>