{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "global-strict": false,
    "eol-last": false,
    "no-underscore-dangle": false
  },
  "env": {
    "browser": 1,
    "node": 1
  }
}
