<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="globalize.min.js"></script>
    <script type="text/javascript" src="cultures/globalize.culture.en-US.js"></script>
    <script type="text/javascript" src="cultures/globalize.culture.en-US.messages.js"></script>
    <script type="text/javascript" src="cultures/globalize.culture.ru-RU.js"></script>
    <script type="text/javascript" src="cultures/globalize.culture.ru-RU.messages.js"></script>
    <script type="text/javascript" src="translator.min.js"></script>
    <script type="text/javascript" src="common.min.js"></script>
    <script type="text/javascript" src="map.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Google Maps</title>
</head>
<body id="map">


</body>
</html>