<%= _.partial("html", "head") %>
<%= _.partial("html", "header") %>

<article class="user">

	<% _.each(messages, function(message){ %>
	<div class="message"><%= message %></div>
	<% }); %>

	<form action="/user/change/<%= hash %>" method="post">
		<input type="password" name="password" placeholder="Enter Password" autofocus/>
		<input type="password" name="confirm" placeholder="Confirm Password"/>
		<input type="submit" value="Change"/>
	</form>
</article>

<%= _.partial("html", "footer") %>


