<%= _.partial("html", "head") %>
<%= _.partial("html", "header") %>

<article  class="user">

	<% _.each(messages, function(message){ %>
	<div class="message"><%= message %></div>
	<% }); %>

	<form action="/user/login" autocomplete="off">
		<fieldset>
			<legend>Login</legend>
			<input id="email" type="text" name="email" value="" placeholder="Email"/>
			<input id="password" type="password" name="password" value="" placeholder="Password"/>
			<input type="submit" value="Login"/>
		</fieldset>
	</form>
</article>

<%= _.partial("html", "footer") %>