<%= _.partial("html", "head") %>
<%= _.partial("html", "header") %>

<article class="user">

	<% _.each(messages, function(message){ %>
	<div class="message"><%= message %></div>
	<% }); %>

    <form action="/user/signup" autocomplete="off" method="post">
        <fieldset>
            <legend>Sign Up</legend>
            <input type="text" name="first_name" value="" placeholder="First name"/>
            <input type="text" name="last_name" value="" placeholder="Last name"/>
            <input type="text" name="email" value="" placeholder="Email"/>
            <input type="text" name="password" value="" placeholder="Enter password"/>
            <input type="text" name="confirm" value="" placeholder="Confirm password"/>
	        <input type="submit" value="Login"/>
        </fieldset>

    </form>
</article>

<%= _.partial("html", "footer") %>