<form action="/login" method="post">
    <div class="title3">Please Log In</div>
    <div class="md-input-container">
        <label>Username</label>
        <input type="text" name="email"/>
        <div class="errors"></div>
    </div>
    <div class="md-input-container">
        <label>Password</label>
        <input type="password" name="password"/>
        <div class="errors"></div>
    </div>
    <div class="md-input-container submit">
        <input type="submit" value="LOGIN"/>
    </div>
</form>