body {
  font-family: "Open Sans";
}

form {
  width: 320px;
  height: 200px;
  margin: 0 auto;
  margin-top: 300px;
  background-color: #a0d7d7;
  border-radius: 10px;
  padding: 10px;
  fieldset {
    border: 0;
    padding: 0 10px;
    margin: 0;
    font-size: 0;
    legend {
      font-size: 20px;
      font-weight: bold;
      background-color: #a0d7d7;
      border-radius: 10px;
      position: relative;
      top: -30px;
      left: -10px;
      padding: 5px 10px;
    }
    label {
      font-size: 15px;
      font-weight: bold;
      float: left;
      width: 150px;
      line-height: 28px;
    }
    input[type=text],
    input[type=password] {
      font-size: 15px;
      font-weight: bold;
      margin: 0;
      margin-bottom: 1em;
      padding: 3px 5px;
      width: 150px;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: #ffffff;
      border: 1px solid #222;
    }
  }
  input[type=submit] {
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 4px;
    width: 150px;
    float: right;
    background-color: #ffffff;
    border: 1px solid #222;
    padding: 3px 5px;
    margin: 0 10px;
  }
}
