<!DOCTYPE html>
<html>
<head>
	<link href="email.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<h1>G.O.A.T</h1>

<p>Hi, {{user.full_name}}!</p>

{{{body}}}

<p>don't reply this email</p>
</body>
</html>